{% extends '@AppBundle/Views/Admin/layout.html.twig' %}

{% block container %}
    <form action="{{ post.id ? path('admin_posts_save', {id: post.id}) : path('admin_posts_save') }}" method="POST">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title" value="{{ post.title }}"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea name="content">{{ post.content }}</textarea></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><select name="author">
                    {% for author in authors %}
                        <option value="{{ author.name }}">
                            {{ author.name }}
                        </option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save!" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}